<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper" style="text-align: right;">

        Contact information:

        <ul class="social-media-list">
          <li> <a href="mailto:andrei.liuyz@gmail.com">andrei.liuyz@gmail.com</a> </li>
          <li style="height:7px"> </li>
          <li> <a href="https://github.com/andrew-yizhouliu"><span class="icon icon--github" target="_blank">{% include github-logo.svg %}</span></a>  &nbsp &nbsp
                <a href="https://www.linkedin.com/in/yizhou-liu-b0b88758/" target="_blank"><span class="icon icon--twitter">{% include linkedin-logo.svg %}</span> </a> &nbsp &nbsp

          </li>

        </ul>

    </div>


  </div>




</footer>
