
<head>
    <meta charset="UTF-8">

    <style>



@media screen and (max-width:600px) and (min-width:10px)
{
  #head1 {
    display: none;

  }
}
@media screen and (min-width:600px)
{
  #head2 {
    display: none;

  }
}

    </style>
</head>


<header class="site-header" id="head1">

  <div class="wrapper">

<div class="wrap">
  <div class="type-wrap">
<!--     <div id="typed-strings">
      <p> <a class="site-title" href="{{ site.baseurl }}/">david zarruk valencia</a> </p> -->
      <!--<p> <a class="site-title" href="{{ site.baseurl }}/">Andrew Yizhou Liu</a> </p>
<!--     </div> -->
    <span id="typed" style="white-space:pre;"></span>
  </div>
</div>



    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </a>


    </nav>

  </div>

</header>


<header class="site-header" id="head2" style="border-top: 0px solid $grey-color-dark; border-bottom: 0px solid $grey-color-light; min-height: 100px;">

  <div class="wrapper">

<div class="wrap" style="margin-bottom: -70px; margin-left: 10px">
      <!--<p> <a class="site-title" style="font-size: 30px;" href="{{ site.baseurl }}/">Andrew Yizhou Liu</a> </p>-->
  </div>
</div>




  </div>

</header>
